<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smudge.cheat_o_meter">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cm_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cm_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />


        <activity
            android:name=".MainActivity"
            android:label=""
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".HelpInfo"
            android:label=""
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smudge.cheat_o_meter.MainActivity" />
        </activity>
        <activity
            android:name=".TermsAcceptance"
            android:label="Terms and Conditions"
            android:theme="@style/SplashTheme" />



        <activity
            android:name=".TermsandConditions"
            android:label=""
            android:parentActivityName=".TermsAcceptance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smudge.cheat_o_meter.TermsAcceptance" />
        </activity>
        <activity android:name=".Settings"
            android:label="Settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smudge.cheat_o_meter.MainActivity" />
        </activity>
    </application>

</manifest>